<section class="flex flex-col items-center justify-center pt-36" id="contact">
    <div class="flex flex-row justify-between w-[60rem] m-10">
        <h2
            class="uppercase border-b-red-600 border-b-4 text-5xl font-semibold max-sm:text-3xl sm:text-3xl"
        >
            Contacto
        </h2>

        <h3
            class="uppercase border-b-red-600 border-b-4 text-5xl font-semibold max-sm:text-3xl sm:text-3xl"
        >
            MIDGARD DIGITAL CONTENT
        </h3>
    </div>

    <div class="flex flex-row gap-16 m-2">
        <div
            class="flex flex-col w-[40rem]"
            data-aos="fade-right"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
        >
            <p class="text-xl font-light tracking-wide">
                Tanto si eres un Influencer, como si quieres trabajar con
                nosotros, puedes ponerte en contacto con MidgarDC por teléfono o
                puedes enviarnos tus datos mediante el formulario que está más
                abajo. ¡ Podemos asegurarte que no te arrepentirás !
            </p>

            <div class="m-10">
                <div class="flex flex-row items-center gap-5">
                    <div class="w-11 h-11 grid place-content-center">
                        <div
                            class="w-11 h-11 bg-red-600 rounded-full absolute"
                        ></div>

                        <div class="fill-white relative">
                            <svg
                                width="30px"
                                height="30px"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M20.992,9.98A8.991,8.991,0,0,0,3.01,9.932a13.95,13.95,0,0,0,8.574,12.979A1,1,0,0,0,12,23a1.012,1.012,0,0,0,.419-.09A13.948,13.948,0,0,0,20.992,9.98ZM12,20.9A11.713,11.713,0,0,1,5.008,10a6.992,6.992,0,1,1,13.984,0c0,.021,0,.045,0,.065A11.7,11.7,0,0,1,12,20.9ZM12,6a4,4,0,1,0,4,4A4,4,0,0,0,12,6Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,12Z"
                                />
                            </svg>
                        </div>
                    </div>

                    <div class="text-zinc-500">
                        <p class="text-red-600 font-semibold text-lg">
                            DIRECCIÓN
                        </p>
                        <p>C/ O'Donnell 12, 2ª planta, 28009</p>
                    </div>
                </div>

                <div class="flex flex-row items-center gap-5 my-5">
                    <div class="w-11 h-11 grid place-content-center">
                        <div
                            class="bg-red-600 w-11 h-11 absolute rounded-full"
                        ></div>

                        <div class="relative stroke-white fill-none stroke-2">
                            <svg
                                width="30px"
                                height="30px"
                                viewBox="0 0 24 24"
                                id="phone"
                                data-name="Line Color"
                                xmlns="http://www.w3.org/2000/svg"
                                class="icon line-color"
                            >
                                <path
                                    id="primary"
                                    d="M21,15v3.93a2,2,0,0,1-2.29,2A18,18,0,0,1,3.14,5.29,2,2,0,0,1,5.13,3H9a1,1,0,0,1,1,.89,10.74,10.74,0,0,0,1,3.78,1,1,0,0,1-.42,1.26l-.86.49a1,1,0,0,0-.33,1.46,14.08,14.08,0,0,0,3.69,3.69,1,1,0,0,0,1.46-.33l.49-.86A1,1,0,0,1,16.33,13a10.74,10.74,0,0,0,3.78,1A1,1,0,0,1,21,15Z"
                                ></path>
                            </svg>
                        </div>
                    </div>
                    <div class="text-zinc-500">
                        <p class="text-red-600 font-semibold text-lg">
                            TELÉFONO
                        </p>
                        <p>917 90 45 10</p>
                    </div>
                </div>

                <div class="flex flex-row items-center gap-5">
                    <div class="w-11 h-11 grid place-content-center">
                        <div
                            class="bg-red-600 w-11 h-11 absolute rounded-full"
                        ></div>

                        <div class="relative fill-white">
                            <svg
                                width="30px"
                                height="30px"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6zm3.519 0L12 11.671 18.481 6H5.52zM20 7.329l-7.341 6.424a1 1 0 0 1-1.318 0L4 7.329V18h16V7.329z"
                                />
                            </svg>
                        </div>
                    </div>

                    <div class="text-zinc-500">
                        <p class="text-red-600 font-semibold text-lg">EMAIL</p>
                        <p>info@midgarddc.com</p>
                    </div>
                </div>
            </div>
        </div>

        <iframe
            data-aos="fade-left"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.431128637654!2d-3.678844927516426!3d40.42145144608938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228a378d92c19%3A0x537448c4a4c3174f!2sMidgard%20Digital%20Content%20S.L!5e0!3m2!1ses!2ses!4v1685630034000!5m2!1ses!2ses"
            width="550"
            height="400"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
    </div>

    <div class="w-full p-10 flex flex-col items-center justify-center my-20">
        <div class="w-[80rem]">
            <p class="uppercase text-3xl mb-5">¡Envianos un mesaje!</p>
        </div>

        <div class="w-[80rem]">
            <div class="w-full flex flex-row m-2 gap-4">
                <input
                    class="w-1/3 h-10 p-2 border"
                    type="text"
                    name=""
                    id=""
                    placeholder="Nombre*"
                />
                <input
                    class="w-1/3 h-10 p-2 border"
                    type="text"
                    name=""
                    id=""
                    placeholder="Apellidos*"
                />
                <input
                    class="w-1/3 h-10 p-2 border"
                    type="text"
                    name=""
                    id=""
                    placeholder="Correo Electronico*"
                />
            </div>

            <input
                class="w-full m-2 h-10 p-2 border"
                type="text"
                name=""
                id=""
                placeholder="Asunto*"
            />

            <textarea
                class="w-full h-20 m-2 p-2 border"
                type="text"
                name=""
                id=""
                placeholder="Mensaje*"
            ></textarea>
        </div>

        <div class="w-[80rem] p-4 gap-5 flex flex-col text-zinc-400">
            <p class="text-sm">
                Tratamos la información que nos facilita con el fin de prestarle
                los servicios solicitados. Los datos proporcionados se
                conservarán hasta que el interesado no solicite la supresión de
                sus datos. Los datos no se cederán a terceros salvo que exista
                obligación legal. Conforme a la normativa vigente, usted tiene
                derecho a acceder a sus datos personales, rectificar los datos
                inexactos o solicitar su supresión cuando los datos ya no sean
                necesarios.
            </p>

            <p class="text-xl text-zinc-600">
                Al hacer click en "Enviar" aceptas los términos del
                <span class="text-red-500"> Aviso Legal</span>
                y de la <span class="text-red-500">Política de Privacidad</span>
            </p>

            <div class="w-full grid place-content-start">
                <button
                    class="uppercase border w-52 h-10 text-white text-xl bg-red-500 hover:bg-red-700"
                    type="submit"
                >
                    Enviar
                </button>
            </div>
        </div>
    </div>
</section>
