<section class="pt-36">
    <div
        class="w-full bg-red-600 flex flex-col items-center justify-center p-8"
    >
        <img
            class="w-96"
            src="../../../assets/indie/Midgard_Small.png"
            alt=""
        />

        <p
            class="w-[70rem] text-2xl text-white font-light tracking-wider pb-14"
        >
            Es un subsello creado dentro de la propia agencia que nace para
            apoyar a estudios independientes que no gozan de abultados
            presupuestos de márketing con el motivo de poder acercar influencers
            de otra forma inalcanzables, para que impulsen sus títulos a un
            precio muy por debajo de los estándares del mercado. Desde Midgard
            estamos comprometidos con el desarrollo independiente especialmente
            nacional, reducimos e incluso realizamos las acciones a cero
            ingresos si pensamos que un título tiene potencial para triunfar en
            el mercado.
        </p>
    </div>
</section>
