<section
    class="w-full flex flex-col items-center pt-36 min-h-[35rem]"
    id="about-us"
>
    <h2
        class="uppercase border-b-red-600 border-b-4 text-5xl font-semibold text-zinc-900 max-sm:text-3xl sm:text-3xl"
    >
        Quienes somos
    </h2>

    <div class="m-12 rounded-2xl max-sm:m-0">
        <section
            class="p-20 flex flex-wrap w-full items-center justify-center gap-5 max-sm:p-0 max-sm:pt-8"
        >
            <div
                data-aos="fade-right"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                class="w-[40rem] text-zinc-800 p-4 max-sm:w-96"
            >
                <div class="uppercase pb-4">
                    <h3 class="font-extrabold text-4xl max-sm:text-3xl">
                        MIDGARD
                        <span class="text-red-700">DIGITAL CONTENT </span>
                    </h3>
                    <p class="text-2xl font-medium">expertos en comuniación</p>
                </div>

                <section
                    class="text-xl font-light tracking-wider text-zinc-700"
                >
                    <p class="pb-4">
                        <span class="font-semibold text-red-700"
                            >Midgard Digital Content</span
                        >
                        es una joven agencia de producción de contenidos
                        digitales y Marketing construida por YouTubers,
                        periodistas, streamers, creadores de contenido,
                        influencers y especialistas en Marketing.
                    </p>

                    <p>
                        Estamos especializados en la industria del videojuego,
                        el cine, la televisión y la música, además de en las
                        principales redes sociales del sector como Twitter,
                        Instagram o Facebook.
                    </p>
                </section>
            </div>

            <div
                data-aos="fade-left"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                class="w-[40em] items-center justify-center flex max-sm:w-96"
            >
                <img src="../../assets/logos/midgard-logo.png" alt="" />
            </div>
        </section>

        <section
            class="flex flex-wrap items-center justify-center w-full p-20 gap-10 max-sm:p-0 max-sm:pt-8"
        >
            <div
                data-aos="fade-right"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                class="w-[40rem] flex flex-col items-center justify-center text-4xl gap-10 text-zinc-800 font-extralight pr-16 max-sm:w-96 max-sm:text-2xl max-sm:pr-0"
            >
                <div
                    class="flex flex-col items-center w-[30rem] bg-zinc-200 p-4 rounded-2xl max-sm:w-80"
                >
                    <p class="text-red-700">7</p>
                    <p>Millones de Visualizaciones</p>
                </div>

                <div
                    class="flex flex-col items-center w-[30rem] bg-zinc-200 p-4 rounded-2xl max-sm:w-80"
                >
                    <p class="text-red-700">39</p>
                    <p>Millones de Seguidores</p>
                </div>
            </div>

            <div
                data-aos="fade-left"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                class="w-[40rem] text-zinc-800 text-xl flex flex-col gap-5 max-sm:w-96 p-4"
            >
                <p>
                    En nuestra experiencia hemos trabajado con compañías como
                    <span class="font-semibold text-red-700">
                        Microsoft, Epic Games, Square Enix,Universal Pictures,
                        Lenovo, NCSoft, Bethesda, Mercury Steam, Konami,
                        Blizzard o Domino’s Pizza.
                    </span>
                </p>

                <p>
                    Una de nuestras campañas,<span
                        class="text-red-700 font-semibold"
                        >Fortnite</span
                    >, ha sido récord internacional con el porcentaje de
                    conversión a ventas más alto de todo el mundo. Todo ello nos
                    ha posicionado como una de las mejores opciones en el
                    panorama español para alcanzar visibilidad, ventas y
                    contenido de calidad.
                </p>

                <p>
                    Nuestro punto fuerte y lo que nos hace diferentes:
                    trabajamos directamente con estudios, desarrolladoras y
                    compañías para promover y potenciar el mercado en el que
                    realmente creemos. Conectando con público y audiencia sin
                    intermediarios. Las comunidades online son nuestra
                    especialidad.
                </p>

                <p>
                    Esperamos que confiéis en nosotros para promocionar vuestros
                    productos.
                </p>

                <p>
                    El equipo de
                    <span class="text-red-700 font-semibold">Midgard DC.</span>
                </p>
            </div>
        </section>
    </div>
</section>
